/* Reset Start here */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nowrap {
 white-space: nowrap;
}

/* removes fig caption */
.offscreen {
    position: absolute;
    left: -10000px;
}
    
/* Reset Ends here */ 

.flex-cont {
    display: flex;
    height: 250px;
}

.flex-items1 {
    width: 30%;
    border: 2px solid salmon;
}

.flex-items1 img {
    width: 100%;
    height: 250px;
}

.flex-items {
    width: 100%;
    border: 2px solid turquoise;
}

/* This is all the Elements*/ 

body {
    min-height: 100vh;
}

h1 {
    padding: 0;
}

/* div {
    display: block;
} */

/* All container Start */ 

.container-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: '';
    align-items: '';
    align-content: '';
}

.container-grid {
    display: grid;
}

.sidebar {
    width: 30%;
    min-height: 100vh;
}

/* All container End */ 

/* This is all about Blog */ 

.blog-main {
    display: flex;
}

.blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: antiquewhite;
    border: 2px solid blue;
    height: 100vh;
}

 /* Two Column Blog Start */
.blog-body-col2 {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 30% 70%;
    width: 70%;
    background-color: beige;
    border: 2px solid rgb(170, 233, 25);
}

.blog-listing {
    /* display: flex; */
    max-height: 250px;
}

.blog-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: blanchedalmond;
    border: 2px solid rgb(121, 7, 105);
}

.blog-title {
    max-height: 80px;
    border: 2px solid turquoise;
}

.blog-date {
    max-height: 80px;
    border: 2px solid rgb(211, 16, 136);
}

.blog-description {
    max-height: 150px;
    border: 2px solid rgb(218, 82, 3);
}

.blog-read-more {
    max-height: 80px;
    border: 2px solid rgba(131, 46, 46, 0.39);
}

 /* Two Column Blog Start */


/* Media Blog Start */ 

.blog-media {
    width: 100%;
    /* height: 250px; */
    background-color: bisque;
    border: 2px solid rgb(15, 199, 159);
}

.blog-media img {
    width: 100%;
    height: 100%;
}

/* Media Blog End */ 

/* Main Blog Page Content Start */ 
.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}

.blog-title {
    border: 5px dashed darkcyan;
    font-size: 24px;
}

.blog-date {
    border: 2px dotted rgb(245, 102, 19);
    font-size: 16px;
}

.blog-description {
    border: 2px dotted black;
    font-size: 14px;
}

.blog-read_more {
    font-size: 16px;
    border: 2px solid salmon;
}

/* Main Blog Page Content End */ 

/* All about Navigation bar */ 

.navbar {
    height: 80px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) /2);
    /* position: sticky; */
    /* z-index: 999; */
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

/* nav a {
    
}

.nav-items {

} */

.logo {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

/* 
nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
} */

/* This is all about Content */ 

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border: 2px dotted yellowgreen;
}

.clear {
    clear:both;
    margin-top:-1px;
    height:1px;
    overflow:hidden;
    }
/* 
.hero-container {

}

.hero-image {

}

.column-left {

}

.column-left h1 {

}
.column-left a {

}

button {

}

.column-right {

}

.column-right h1{

}

.column-right a{

} */ 

/* This is all about Media */ 

